*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding: 2rem 3rem;
    background-color: lightgray ;
}



    .information__header{
        display:flex;
        flex-direction: row;

        position: relative;

        padding:2rem 3rem;

        border: 1px solid black;

        background-color: white;
        
    }
        .header__left{
            display:flex;
            flex-direction: row;
            flex-basis: 70%;
        }
        .navigation{
            margin-left:3rem;
            flex-basis: 30%;
        }

            .nav__item:not(:last-child){
                margin-bottom:1rem;
            }

                .nav__link:link,.nav__link:visited{
                    color:inherit;
                    border-bottom: 1px solid black;
                    
                }
        .header__avatar--img{
            width:10rem;
            height:10rem;

            /* margin-left:2rem; */
        }
        
        .header__fullname{

            line-height: 10rem;
    
            margin-left:2rem;

            font-size:2.5rem;
            font-weight: 400 !important;
            
            text-transform: capitalize;
        }

    .table__information{
        width:100%;
         
        padding: 2rem 3rem;
        margin-top: 1rem;

        background-color: white;
        
        border: 1px solid black;
    }
    
    th,td{
        padding:1rem 0;
        border-bottom: 1px solid black;

        text-align: left;
        
    }

    td{

        padding-left:1rem;
    }

.section-information{
    margin-bottom:1rem;
}

.footer{
    text-align: center;

    padding: 2rem 3rem;
    border:1px solid black;

    background-color: white;

}
    .footer > *:not(:last-child){
        margin-bottom:1rem;
    }
    .footer__item{
        display:inline-block;
        

        line-height: 3rem;  

        background-color: rgba(0, 0, 0, 0.644);
        border-radius: 50%;

        transition:300ms;
    }

    .footer__item:hover{
        background-color: rgba(121, 193, 206, 0.644);
    }

    .footer__item:hover i{
        color:#FBE9D3;
    }

    i{
        transition: 300ms;
    }
    
    .footer__link{
        width:3rem;
        height:3rem;
        
        display: block;
        
        font-size:1.5rem;
        
        color:white;
        border-radius: 50%;
    }

    .footer__item:not(:last-child){
        margin-right:1rem;
    }