*{
    margin:0;
    padding:0;
    text-decoration: none;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    position: relative;
    width:100%;
    height:120vh;

    padding: 2rem;

    background-color: aliceblue;

    box-sizing: border-box;
}

.section-show-library{
    width:80%;

    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

    .table__show-library {
        width: 100%;

        border-collapse: collapse;
        background-color: #34495E;
    }
        .table__caption{
            font-weight: 400 !important;
            font-size:2rem;

            color:#34495E;

            margin-bottom:1.5rem;
        }
        .table__show-library th, .table__show-library td {
            text-align: left;
            padding: 1rem;
        }
    
        /* tr:nth-child(even){background-color: #f2f2f2} */
        .table__show-library td{
            color:#fff;
        }
        
        .table__show-library th {
            font-weight: 700;
            color: #dd5;
        }

        .table__row-detail{
            width:100%;
            display:none;

            padding:1rem; 

            display:flex;
            flex-direction: row;


        }

            .table__row-detail > * {
                height:100%;
                flex-basis: 50%;
            }

            .row-detail__left > p,.row-detail__right > p{
                padding:.5rem;
            }

            .row-detail__left > p{
                padding-left:10rem;
                
            }

        .table__button{
            padding:1rem;

            text-align: center;
        }

            .btn--make-test,.btn--start-learn{
                font-family: 'Montserrat', sans-serif !important;
                font-weight: 700 !important;
                
                outline: none;
                border:1px solid rgba(0,225,255,1);

                color: #dd5;    
                background-color: #34495E;

                padding: .7rem 3rem !important;
            }

        .table__show{
            display:none;
        }

        .table__link:link,.table__link:visited,.table__label{
            margin-right:.5rem;
            
            color: rgba(0,225,255,1);
        }

    .link__redirect{
        position: absolute;
        top:0;
        right:1%;
    }

    .link__redirect > a{
        display: block;
    }

    .link__items:link,.link__items:visited,.link__logout:link,.link__logout:visited{
        color:#34495E;
    }

    .link__logout{
        position: absolute;
        top:-2%;
        right:0;
    }

#popup{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

    .popup__word-detail{
        padding: 2rem 3rem;

        text-align: center;

        background-color: rgba(207, 207, 207, 0.99);
        
        border-radius: 3px;
    }

        .table__describe td{
            padding:.2rem;

            color:#000;
        }

        .word{
            margin-bottom:.4rem;

            font-size:2.2rem;

            background-image: linear-gradient(to top, rgba(2,0,36,1) 0%, rgba(0,225,255,1) 0%, rgba(82,123,244,1) 53%, rgba(133,28,194,1) 96%);
            -webkit-background-clip: text;
            color:transparent   ;
        }

        .image{
            margin-bottom:.4rem;
        }

        audio{
            margin-top: 1rem;

            width:15rem;
            height:1.5rem;
        }

        #get-detail-ajax{
            cursor: pointer;
        }

    .btn--close{
        position: absolute;
        top:0;
        right:0;

        font-size:1.5rem;

        color:#000;

        cursor: pointer;

        transition: 300ms;
    }

    .btn--close:hover{
        color:white;
    }